/**
 * Global configuration
 */
::selection {
  background:#FF5E99; color:#fff; text-shadow:none;
}
::-moz-selection {
  background:#FF5E99; color:#fff; text-shadow:none;
}

body {
  min-width:960px;
}

/**
 * Structure
 */
.container { margin:0 auto; width:960px; } /* fixed or liquid */

.main { width:100%; position:relative; float:left; }
.no-sidebars .main { float:none; }

.sidebar-first .wrapper-columns,
.two-sidebars .wrapper-columns { padding-left:200px; }
.sidebar-second .wrapper-columns,
.two-sidebars .wrapper-columns { padding-right:200px; }
 
.sidebar { width:200px; float:left; position:relative; }
.sidebar-first { margin-left:-100%; right:200px; }
.sidebar-second { margin-right:-200px; }

/**
 * Breadcrumb
 */
.breadcrumb { color:#ccc; padding:0; margin:0 0 10px 0; }
.breadcrumb a { color:#666; }

/**
 * Blocks
 */
.block { margin:0; position:relative; }
.sidebar .block { margin:0 0 30px; }

/**
 * System pagination
 */
.item-list .pager { clear:both; text-align:center; }
.item-list .pager li { background-image:none; display:inline; list-style-type:none; padding:0.5em; }

/**
 * Status Message
 */
.wrapper-messages ul, .wrapper-messages ul li { list-style:none; background:none; }
.wrapper-messages ul li { margin:0 0 5px 0; }
.wrapper-messages .wrapper-messages { border:1px solid; padding:15px 20px 15px 50px; margin:0 0 10px 0; background-repeat:no-repeat; background-position:15px center; }
.wrapper-messages .status { color:#4F8A10; background-color:#E7F4E8; background-image:url('../images/icons/success.png'); }
.wrapper-messages .error { color:#D8000C; background-color:#FBDDDD; background-image:url('../images/icons/error.png'); }
.wrapper-messages .warning { color:#9F6000; background-color:#FEF5D5; background-image:url('../images/icons/warning.png'); }
.wrapper-messages .wrapper-messages a { font-weight:bold; }

/**
 * Forms fields
 */
form .description { padding:5px 0 0 0; }
html.js input.form-autocomplete { background-position:100% 3px; }
html.js input.throbbing { background-position:100% 18px; }
fieldset { border:1px solid #e2e2e2; padding:20px; margin:0 0 20px 0;}
fieldset legend { padding:0 10px; font-weight:bold; }
html.js fieldset.collapsed { border:none; border-top:1px solid #e2e2e2; padding:0 20px; margin:0 0 20px 0; }

/**
 * Tables
 */
table{ width:100%; border-collapse:separate; border-spacing:1px;  }
table tr.even, table tr.odd { background:none; }
table th { background:#e2e2e2; padding:5px 10px; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }
table td { padding:5px; background:#f6f6f6; -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; }


/*========= Your css goes here! */








/*========= Your css goes here! */

/**
 * non-semantic helper classes
 */
/* For image replacement */
.ir { display:block; border:0; text-indent:-999em; overflow:hidden; background-color:transparent; background-repeat:no-repeat; text-align:left; direction:ltr; }
.ir br { display:none; }

/* Hide from both screenreaders and browsers:h5bp.com/u */
.hidden { display:none !important; visibility:hidden; }

/* Hide only visually, but have it available for screenreaders:h5bp.com/v */
.visuallyhidden { border:0; clip:rect(0 0 0 0); height:1px; margin:-1px; overflow:hidden; padding:0; position:absolute; width:1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard:h5bp.com/p */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip:auto; height:auto; margin:0; overflow:visible; position:static; width:auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility:hidden; }

/* Contain floats:h5bp.com/q */ 
.clearfix:before, .clearfix:after { content:""; display:table; }
.clearfix:after { clear:both; }
.clearfix { zoom:1; }



/* 
 * print styles
 * inlined to avoid required HTTP connection www.phpied.com/delay-loading-your-print-css/ 
 */
@media print {
  * { background:transparent !important; color:#444 !important; text-shadow:none; }
  a, a:visited { color:#444 !important; text-decoration:underline; }
  a:after { content:" (" attr(href) ")"; } 
  abbr:after { content:" (" attr(title) ")"; }
  .ir a:after { content:""; }  /* Don't show links for images */  
  pre, blockquote { border:1px solid .999; page-break-inside:avoid; }
  img { page-break-inside:avoid; }
  @page { margin:0.5cm; }
  p, h2, h3 { orphans:3; widows:3; }
  h2, h3{ page-break-after:avoid; }
}



/**
 * Media queries for responsive design
 */
/* 
Hardboiled CSS3 Media Queries by Andy Clarke:
http://stuffandnonsense.co.uk/blog/about/hardboiled_css3_media_queries/
*/

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width :320px) and (max-device-width :480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width :321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width :320px) {
/* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width :768px) and (max-device-width :1024px) {
/* Styles */
}

/* iPads (landscape) ----------- */
@media only screen and (min-device-width :768px) and (max-device-width :1024px) and (orientation :landscape) {
/* Styles */
}

/* iPads (portrait) ----------- */
@media only screen and (min-device-width :768px) and (max-device-width :1024px) and (orientation :portrait) {
/* Styles */
}

/* Desktops and laptops ----------- */
@media only screen and (min-width :1224px) {
/* Styles */
}

/* Large screens ----------- */
@media only screen and (min-width :1824px) {
/* Styles */
}

/* iPhone 4 and high pixel ratio devices ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio :1.5),
only screen and (min-device-pixel-ratio :1.5) {
/* Styles */
}
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
 
@media all and (orientation:portrait) { 
  /* Style adjustments for portrait mode goes here */
}

@media all and (orientation:landscape) { 
  /* Style adjustments for landscape mode goes here */
}

/* Grade-A Mobile Browsers (Opera Mobile, iPhone Safari, Android Chrome)  
   Consider this:www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width:480px) {
  /* Prevent iOS, WinMobile from adjusting font size */
  html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } 
}